@Html.Partial("Layout")
@Html.Partial("_Header")
@{
    Layout = null;
}
<style>
    body{
        overflow-x:hidden;
    }
</style>
<main class="main min-vh-100" id="top">
<section class="py-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 px-0 order-lg-2">
                <div class="sticky-top vh-lg-100 py-9">
                    <div class="bg-holder" style="background-image:url('https://i.pinimg.com/564x/35/52/53/355253e6c68ecc33a9ceaa51e8a69652.jpg');" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out-slide-left","delay":0.4}'></div><!--/.bg-holder-->
                </div>
            </div>
            <div class="col-lg-6 py-6">
                <div class="row h-100 flex-center">
                    <div class="col-lg-10">
                        <div class="mb-5">
                                <div class="overflow-hidden">
                                    <h5 class="fw-light text-uppercase fs-6 fs-lg-5" data-zanim-lg='{"delay":0.4}'> <br />Our Story <span class="fw-black"> </span></h5>
                                </div>
                        </div>
                            <p class="dropcap" data-zanim-xs='{"delay":0.5}' data-zanim-trigger="scroll">Car Spot is a Car ShowroomAt DriveX Showcase, we believe that every vehicle has a story, and every journey begins with the right car. Our passion for automobiles drives us to create a platform where car enthusiasts and everyday drivers alike can find their perfect match. From luxury sedans to powerful SUVs and reliable family cars, we pride ourselves on showcasing a curated selection of vehicles that meet diverse needs and tastes.</p>
                        <div class="row mt-5">
                                <div class="col-6"><img class="rounded img-fluid" src='https://img.freepik.com/free-photo/view-car-running-high-speed_23-2150635424.jpg?semt=ais_hybrid' alt="" data-zanim-xs='{"delay":0.6,"animation":"zoom-in"}' data-zanim-trigger="scroll" /></div>
                                <div class="col-6"><img class="rounded img-fluid" src='https://i.pinimg.com/originals/35/42/c9/3542c9d2ebd9749a11d35601f632e33b.jpg' alt="" data-zanim-xs='{"delay":0.7,"animation":"zoom-in"}' data-zanim-trigger="scroll" /></div>
                        </div>
                        <blockquote class="blockquote text-center my-6 border p-5 px-xl-7 rounded" data-zanim-xs='{"delay":0.1}' data-zanim-trigger="scroll">
                                <p class="blockquote-content">Founded with a commitment to excellence, DriveX Showcase is more than just a showroom; it's a celebration of craftsmanship, innovation, and the thrill of the open road. Over the years, we have built a reputation for providing top-quality vehicles and exceptional customer service. Our goal is to make your car-buying journey seamless, enjoyable, and unforgettable..</p>
                                <footer class="blockquote-footer mt-0"><span class="text-body-highlight">Welcome to </span>  DriveX Showcase –</footer>
                        </blockquote>
                    </div>
                    <div class="col-lg-10 mt-6">
                            <img class="rounded img-fluid" src='https://wallpapers.com/images/hd/fast-and-furious-vintage-car-12h5e0kjkwefno3f.jpg' alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' data-zanim-trigger="scroll" />
                        <div class="row gx-4 mt-6">
                            <div class="col-md col-lg-12 col-xl-6">
                                <div class="overflow-hidden">
                                    <h6 class="text-uppercase ls" data-zanim-xs='{"delay":0.1}' data-zanim-trigger="scroll">Research</h6>
                                </div>
                                <div class="overflow-hidden">
                                        <p class="text-justify" data-zanim-xs='{"delay":0.2}' data-zanim-trigger="scroll">We understand that choosing the right car is more than just a transaction; it’s about finding a partner for life’s adventures. That’s why we go the extra mile to ensure every vehicle in our collection meets the highest standards of quality and performance.</p>
                                </div>
                            </div>
                            <div class="col-md col-lg-12 col-xl-6">
                                <div class="overflow-hidden">
                                        <h6 class="text-uppercase ls" data-zanim-xs='{"delay":0.1}' data-zanim-trigger="scroll">journey </h6>
                                </div>
                                <div class="overflow-hidden">
                                        <p class="text-justify" data-zanim-xs='{"delay":0.2}' data-zanim-trigger="scroll">Whether you're looking for the latest models, pre-owned gems, or a custom ride that suits your style, DriveX Showcase is here to help you drive your dreams. Join us as we continue to innovate, inspire, and redefine the way you experience cars..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end of .container-->
</section><!-- <section> close ============================--><!-- ============================================-->
    </main><!-- ===============================================--><!--    End of Main Content--><!-- ===============================================-->
@Html.Partial("_Footer")
@Html.Partial("Layoutscript")